.gradle
/local.properties
/.idea/
.DS_Store
/build
SimpleHttpPostRequest.iml
/app/.gitignore
/app/app.iml
/app/build.gradle
/app/proguard-rules.pro
/app/src/androidTest/
build.gradle
gradle.properties
/gradle/
gradlew
gradlew.bat
settings.gradle